.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: url(./components/Assets/background.png);
  background-position: top center;
  background-repeat: repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.nav-def {
  color: white;
}

.img-fluid {
  padding: 20px;
  float: right;
}

.footer {
  backgroundColor: "#F8F8F8";
  borderTop: "1px solid #E7E7E7";
  textAlign: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}

.phamtom {
display: 'block';
padding: '20px';
height: '60px';
width: '100%';
}